<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento Financeiro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            
            color: #fff;
            text-align: center;
            padding-bottom: 20px;
        }

        h1 {
            margin: 0;
            font-size: 36px;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
           
        }

        .welcome {
            text-align: center;
            padding: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block; /* Remove espaço em branco abaixo da imagem */
            margin: 0 auto; /* Centraliza a imagem horizontalmente */
        }

        a {
            display: block; /* Torna o link de imagem em bloco para cobrir toda a largura da div */
        }

        p, .list-group-item {
            font-family: ui-monospace;
            font-size: 20px;
            text-align: start;
        }


    </style>
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h1 class="fw-bold mb-4">Gerenciamento Financeiro</h1>
            <p>
                O controle financeiro é mais do que uma prática, é uma peça fundamental na construção de uma vida financeira saudável e estável. Ao administrarmos nossos recursos de forma eficiente, ganhamos não apenas controle sobre nossos gastos, mas também a liberdade para alcançar objetivos financeiros maiores e garantir um futuro seguro.
            </p>
            <p> Muitas vezes subestimado, o controle financeiro é a base para alcançar metas, sonhos e até mesmo para enfrentar imprevistos. Uma gestão adequada das finanças pessoais ou empresariais não apenas reduz o estresse relacionado ao dinheiro, mas também possibilita o crescimento e a prosperidade a longo prazo.</p>
            <p class="fw-bolder">Por que o Controle Financeiro é Crucial?</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Planejamento Eficiente: Um controle financeiro bem elaborado permite o planejamento de metas tangíveis e realistas, como a compra de uma casa, aposentadoria confortável ou a expansão de um negócio.</li>
                <li class="list-group-item">Redução de Desperdícios: Ao entendermos onde nosso dinheiro está sendo gasto, somos capazes de identificar áreas de desperdício e tomar medidas para reduzi-las, maximizando assim nosso potencial de economia.</li>
                <li class="list-group-item">Preparação para Emergências: Contar com uma reserva financeira é essencial para lidar com imprevistos, como despesas médicas inesperadas ou perda de emprego.</li>
                <li class="list-group-item">Alívio de Estresse: Uma boa gestão financeira diminui a ansiedade relacionada ao dinheiro, permitindo uma vida mais tranquila e focada no que realmente importa.</li>
            </ul>
            <p>Faça o Primeiro Passo para o Controle Financeiro!</p>
            <P> Não deixe que suas finanças escapem do seu controle. Comece agora mesmo sua jornada em direção à estabilidade financeira. Nós estamos aqui para ajudar! Clique no link abaixo e faça seu cadastro para ter acesso a ferramentas poderosas que o ajudarão a gerenciar suas finanças de forma eficaz.</P>
            <p><a asp-action="Index" asp-controller="Autenticacao"> Cadastre-se Aqui</a></p>
        </div>
    </div>
</body>
</html>
